source $HOME/.zpacker/zpacker.zsh

# git plugin from famous oh-my-zsh
zpacker plugin 'robbyrussell/oh-my-zsh' lib/git.zsh

# syntax highlighting
zpacker plugin 'zsh-users/zsh-syntax-highlighting'

# for theme
zpacker theme 'happyslowly/clean'

# local profiles
zpacker local $HOME/.profiles

zpacker end
